html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  font-size: 5.6rem;
  @include lg {
    font-size: 4.8rem;
  }
  @include sp {
    font-size: 3.2rem;
  }
}

h2 {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  font-size: 3.6rem;
  @include md {
    font-size: 3rem;
  }
  @include sp {
    font-size: 2.4rem;
  }
}

h3 {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  @include md {
    font-size: 2.4rem;
  }
  @include sp {
    font-size: 2rem;
  }
}

h4 {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  @include md {
    font-size: 2rem;
  }
  @include sp {
    font-size: 1.8rem;
  }
}

p {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  @include md {
    font-size: 1.8rem;
  }
  @include sp {
    font-size: 1.4rem;
  }
}

.big {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, Meiryo,
    sans-serif;
  font-weight: 900;
  font-size: 12rem;
}

.middle {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, Meiryo,
    sans-serif;
  font-weight: 900;
  font-size: 6rem;
}

.small {
  padding-left: 20px;
  margin-right: 24px;
}

.light-yellow {
  color: $color3;
}

.dark-yellow {
  color: $color4;
}

// button

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  font-family: "Noto Sans SC", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.6rem 8rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

//scroll

.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  .item {
    /* 横スクロール用 */
    display: inline-block;
  }
}
