// Main Vision
.MV {
  width: 100%;
  overflow-x: hidden;
  .MV_back {
    position: relative;
    z-index: -2;
    left: -20%;
    right: -20%;
    top: 0;
    width: 140%;
    height: 660px;
    background-color: $color2;
    border-bottom-left-radius: 50% 16%;
    border-bottom-right-radius: 50% 16%;
    @media screen and (max-width: 998px) {
      height: 630px;
    }
    @media screen and (max-width: 720px) {
      height: 800px;
      border-bottom-left-radius: 50% 10%;
      border-bottom-right-radius: 50% 10%;
    }
    @include sp {
      height: 740px;
      border-bottom-left-radius: 50% 10%;
      border-bottom-right-radius: 50% 10%;
    }
    @media screen and (max-width: 420px) {
      height: 700px;
    }
    @include xs {
      height: 666px;
    }
    .back-img {
      position: absolute;
      top: 10%;
      left: 45%;
      z-index: -1;
      width: 1400px;
      height: auto;
      @media screen and (max-width: 1500px) {
        top: 10%;
        left: 50%;
      }
      @media screen and (max-width: 1200px) {
        top: 10%;
        left: 52%;
      }
      @media screen and (max-width: 998px) {
        top: 10%;
        left: 55%;
      }
      @include md {
        left: 52%;
      }
      @media screen and (max-width: 720px) {
        width: 880px;
        top: 6%;
        left: 26%;
      }
      @include sp {
        width: 880px;
        top: 6%;
        left: 26%;
      }
      @media screen and (max-width: 420px) {
        top: 2%;
      }
    }
  }
  .MV_content {
    position: absolute;
    width: 100%;
    top: 0;
    padding-left: 7%;
    @include lg {
      padding-left: 24px;
    }
    .logo {
      width: 164px;
      height: auto;
      padding-top: 28px;
      padding-left: 18px;
      @media screen and (max-width: 420px) {
        width: 120px;
        padding-left: 6px;
      }
    }
    .MV_text {
      color: $color1;
      margin-top: 18px;
      h1 {
        margin: 0;
        padding-left: 18px;
        @media screen and (max-width: 585px) {
          font-size: 3.2rem;
          padding-left: 10px;
        }
        @include sp {
          padding-left: 0;
        }
        @media screen and (max-width: 420px) {
          font-size: 2.8rem;
          padding-left: 10px;
        }
      }
      h3 {
        margin: 0;
        padding-left: 18px;
        @include sp {
          padding-left: 0;
        }
      }
      h4 {
        margin-top: 20px;
        margin-bottom: 0;
        padding-left: 18px;
        @include sp {
          padding-left: 0;
        }
      }
      span.nearby {
        padding-left: 7%;
        @include lg {
          padding-left: 24px;
        }
      }
      @media screen and (max-width: 720px) {
        width: 100%;
        margin-top: 240px;
        text-align: center;
      }
      @include sp {
        width: 100%;
        margin-top: 240px;
        text-align: center;
      }
      @include xs {
        margin-top: 200px;
      }
    }
  }
}

// Goods
.goods {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  top: -30px;
  // @media screen and (max-width: 998px) {
  //   height: 460px;
  // }
  @include md {
    height: 440px;
  }
  @include sp {
    top: -20px;
    height: 360px;
  }
  .goods_text {
    margin-left: 12%;
    margin-top: 60px;
    @media screen and (max-width: 1150px) {
      margin-left: 10%;
    }
    @media screen and (max-width: 998px) {
      margin-top: 60px;
      margin-left: 4%;
    }
    @include sp {
      margin-left: 16px;
    }
    @media screen and (max-width: 440px) {
      margin-top: 48px;
      margin-left: 6px;
    }
    h1,
    h2 {
      margin: 0;
      padding-left: 18px;
      @include sp {
        padding-left: 0;
      }
    }
    h3 {
      margin: 20px 0 0;
      padding-left: 18px;
      @include sp {
        padding-left: 0;
        margin-top: 6px;
      }
    }
    h4 {
      margin: 0;
      padding-left: 18px;
      @include sp {
        padding-left: 0;
        margin-top: 12px;
        line-height: 1.4em;
      }
    }
    .h-goods {
      font-size: 4.8rem;
      font-weight: 600;

      @include sp {
        font-size: 3rem;
      }
    }
  }

  .goods_img {
    position: absolute;
    top: -24%;
    left: 58%;
    z-index: -3;
    width: 500px;
    overflow: hidden;
    // @media screen and (max-width: 1150px) {
    //   top: -10%;
    //   left: 50%;
    // }
    @include lg {
      left: 55%;
    }
    @media screen and (max-width: 820px) {
      left: 50%;
    }
    @include md {
      width: 400px;
      top: -6%;
      left: 56%;
    }
    @media screen and (max-width: 660px) {
      left: 48%;
    }
    @include sp {
      width: 340px;
      top: -13%;
      left: 50%;
    }
    @media screen and (max-width: 440px) {
      width: 300px;
      top: -2%;
      left: 48%;
    }
    img {
      overflow-x: hidden;
    }
  }
  a.btn {
    font-size: 1.8rem;
    padding: 0.6rem 3rem;
  }
  a.btn-border {
    border: 2px solid $color4;
    border-radius: 8px;
    background: #fff;
    color: $color4;
  }

  a.btn-border:hover {
    color: $color1;
    background: $color4;
  }

  .btn-goods {
    margin-left: 18px;
    margin-top: 32px;
    @include sp {
      margin-top: 14px;
      margin-left: 0;
    }
  }
}

// How
.how {
  height: 550px;
  @include sp {
    height: auto;
    margin-bottom: 40px;
  }
  .item {
    width: 900px;
    height: 500px;
    @include sp {
      height: auto;
    }
  }
  .item {
    position: relative;
  }
  .how009 {
    .how009_text {
      position: absolute;
      top: 48%;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      color: $color1;
      text-align: center;
      @include md {
        top: 44%;
      }
      @include sp {
        top: 55%;
      }
      a.btn-border {
        border: 2px solid $color4;
        border-radius: 8px;
        background: $color4;
        color: $color1;
      }
      a.btn-border:hover {
        color: $color1;
        background: $color4;
      }
      .btn,
      a.btn,
      button.btn {
        font-size: 2.8rem;
        padding: 0.6rem 12rem;
        @media screen and (max-width: 440px) {
          font-size: 2rem;
          padding: 0.6 4rem;
        }
      }
      a {
        color: $color3;
        text-decoration: none;
      }
      a:hover {
        color: $color3;
      }
    }
  }
  // slick
  .sliderArea {
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 0 25px;
    overflow-x: hidden;
    @include sp {
      height: auto;
      padding: 0;
    }
  }
  .sliderArea.w300 {
    max-width: 300px;
  }
  .slick-slide {
    margin: 0;
  }
  .slick-slide img {
    width: 100%;
    height: auto;
  }
  .slick-prev,
  .slick-next {
    z-index: 1;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #000;
  }
  .slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 0.5;
  }
  .slick-active {
    opacity: 1;
  }
  .slick-current {
    opacity: 1;
  }
  .thumb {
    margin: 20px 0 0;
  }
  .thumb .slick-slide {
    cursor: pointer;
  }
  .thumb .slick-slide:hover {
    opacity: 0.7;
  }
  .slick-prev:before,
  .slick-next:before {
    content: "" !important;
  }
  .full-screen .slick-list {
    overflow: visible;
    @include sp {
      overflow: hidden;
    }
  }
  .full-screen.slider {
    max-width: 800px;
    margin: 0 auto;
    @include md {
      max-width: 100%;
    }
  }
  .slick-dots {
    bottom: 20px !important;
    @media screen and (max-width: 767px) {
      display: none !important;
    }
  }
  .slick-dots li {
    margin: 0 16px !important;
  }
  .slick-dots li button:before {
    font-size: 6rem !important;
  }
  .slick-dots li.slick-active button:before {
    color: $color4 !important;
  }
  .slick-dots li button:before {
    color: $color4 !important;
  }
}

// Example
.example {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 480px;
  @include lg {
    height: 440px;
  }
  @media screen and (max-width: 998px) {
    height: auto;
    text-align: center;
    justify-content: center;
  }
  .example_text {
    margin: auto 0;
    padding-left: 5%;
    padding-bottom: 40px;
    h1 {
      margin: 0;
    }
    @include lg {
      padding-left: 3%;
    }
    @media screen and (max-width: 998px) {
      padding-bottom: 24px;
    }
  }
  .example_slick {
    margin: auto 0;
    @media screen and (max-width: 640px) {
      display: none;
    }
    .sliderArea {
      max-width: 540px;
      height: auto;
      margin: 0 auto;
      padding: 0 50px;
      overflow-x: hidden;
      @media screen and (max-width: 998px) {
        max-width: 640px;
      }
      @include sp {
        width: 100%;
        padding: 0;
      }
    }
    .sliderArea.w300 {
      max-width: 300px;
    }
    .slick-slide {
      margin: 0;
    }
    .slick-slide img {
      max-width: 100%;
      height: auto;
    }
    .slick-prev,
    .slick-next {
      z-index: 1;
      top: 45%;
    }
    .slick-prev:before,
    .slick-next:before {
      color: #000;
    }
    .slick-slide {
      transition: all ease-in-out 0.3s;
      opacity: 0.5;
    }
    .slick-active {
      opacity: 1;
    }
    .slick-current {
      opacity: 1;
    }
    .thumb {
      margin: 20px 0 0;
    }
    .thumb .slick-slide {
      cursor: pointer;
    }
    .thumb .slick-slide:hover {
      opacity: 0.7;
    }
    // .slick-arrow {
    //   @include sp {
    //     display: none !important;
    //   }
    // }
    .slick-prev:before {
      content: "<" !important;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 60px !important;
      color: $color4;
      margin-left: -40px;
      @include sp {
        display: none;
      }
    }
    .slick-next:before {
      content: ">" !important;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 60px !important;
      color: $color4;
      margin-left: 10px;
      @include sp {
        display: none;
      }
    }
    .regular.slick-list {
      overflow: visible;
      @include sp {
        max-width: 100%;
        padding: 0;
      }
    }
    .regular.slider {
      max-width: 800px;
      margin: 0 auto;
      margin-bottom: 40px;
      @include sp {
        max-width: 100%;
      }
    }
    .slick-dots {
      display: none !important;
    }
    .slick-dotted.slick-slider {
      @include sp {
        margin-bottom: 0;
      }
    }
  }
}

// Example-sp
.example-sp {
  position: relative;
  height: 550px;
  @media screen and (min-width: 641px) {
    display: none;
  }
  @include sp {
    height: auto;
  }
  .item {
    width: 900px;
    height: 500px;
    @include sp {
      height: auto;
    }
  }
  .item {
    position: relative;
  }

  .left {
    position: absolute;
    left: 4%;
    top: 38%;
    z-index: 4;
    color: $color1;
    font-size: 4rem;
  }
  .right {
    position: absolute;
    right: 4%;
    top: 38%;
    z-index: 4;
    color: $color1;
    font-size: 4rem;
  }

  // slick
  .sliderArea {
    max-width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 0 25px;
    overflow-x: hidden;
    @include sp {
      height: auto;
      padding: 0;
    }
  }
  .sliderArea.w300 {
    max-width: 300px;
  }
  .slick-slide {
    margin: 0;
  }
  .slick-slide img {
    width: 100%;
    height: auto;
  }
  .slick-prev,
  .slick-next {
    z-index: 1;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #000;
  }
  .slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 0.5;
  }
  .slick-active {
    opacity: 1;
  }
  .slick-current {
    opacity: 1;
  }
  .thumb {
    margin: 20px 0 0;
  }
  .thumb .slick-slide {
    cursor: pointer;
  }
  .thumb .slick-slide:hover {
    opacity: 0.7;
  }
  .slick-prev:before,
  .slick-next:before {
    content: "" !important;
  }
  .full-screen .slick-list {
    overflow: visible;
  }
  .full-screen.slider {
    max-width: 800px;
    margin: 0 auto;
    @include md {
      max-width: 100%;
    }
  }
  .slick-dots {
    bottom: 20px !important;
    @media screen and (max-width: 640px) {
      display: none !important;
    }
  }
  .slick-dots li {
    margin: 0 16px !important;
  }
  .slick-dots li button:before {
    font-size: 12rem !important;
  }
  .slick-dots li.slick-active button:before {
    color: $color4 !important;
  }
  .slick-dots li button:before {
    color: $color4 !important;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }
  .slick-prev {
    width: 48px !important;
    height: 48px !important;
    left: 4% !important;
    z-index: 5 !important;
  }
  .slick-next {
    width: 48px !important;
    height: 48px !important;
    right: 4% !important;
    z-index: 5 !important;
  }
}

// Growth
.growth {
  height: auto;
  color: $color1;
  background-color: $color2;
  .growth_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 262px;
    background-image: url("../img/changshu.jpg");
    background-size: cover;
    background-position: 0 28%;
    @include lg {
      height: 180px;
    }
    .h2 {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .growth_detail {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h1,
    h2,
    h4 {
      margin: 0;
      padding-left: 18px;
    }
    .text {
      width: 520px;
      margin-top: 16px;
      @media screen and (max-width: 998px) {
        width: 80%;
        margin: 0 auto;
      }
      @include sp {
        width: 92%;
      }
      .textbox {
        h4 {
          margin-top: 10px;
        }
      }
    }
    .graph-area {
      margin-top: 34px;
      margin-bottom: 24px;
      padding-right: 18px;
      text-align: center;
      @media screen and (max-width: 998px) {
        margin: 0 auto;
        margin-bottom: 24px;
      }
      @include sp {
        padding-right: 0;
      }
      .graph {
        display: flex;
        align-items: flex-end;
        margin-top: 40px;
        .g-2017 {
          .c-2017 {
            width: 40px;
            height: 20px;
            background: linear-gradient(#ffe68d, #b0901a);
            @media screen and (max-width: 440px) {
              width: 24px;
              height: 14px;
              margin-left: 4px;
            }
          }
        }
        .g-2018 {
          margin-left: 52px;
          @media screen and (max-width: 1150px) {
            margin-left: 32px;
          }
          @media screen and (max-width: 440px) {
            margin-left: 24px;
          }
          .c-2018 {
            width: 40px;
            height: 58px;
            background: linear-gradient(#ffe68d, #b0901a);
            @media screen and (max-width: 440px) {
              width: 24px;
              height: 40px;
              margin-left: 4px;
            }
          }
        }
        .g-2019 {
          margin-left: 52px;
          @media screen and (max-width: 1150px) {
            margin-left: 32px;
          }
          @media screen and (max-width: 440px) {
            margin-left: 24px;
          }
          .c-2019 {
            width: 40px;
            height: 92px;
            background: linear-gradient(#ffe68d, #b0901a);
            @media screen and (max-width: 440px) {
              width: 24px;
              height: 64px;
              margin-left: 4px;
            }
          }
        }
        .g-2020 {
          margin-left: 52px;
          @media screen and (max-width: 1150px) {
            margin-left: 32px;
          }
          @media screen and (max-width: 440px) {
            margin-left: 24px;
          }
          .c-2020 {
            width: 40px;
            height: 112px;
            background: linear-gradient(#ffe68d, #b0901a);
            @media screen and (max-width: 440px) {
              width: 24px;
              height: 78px;
              margin-left: 4px;
            }
          }
        }
        .g-2021 {
          margin-left: 52px;
          @media screen and (max-width: 1150px) {
            margin-left: 32px;
          }
          @media screen and (max-width: 440px) {
            margin-left: 24px;
          }
          .c-2021 {
            width: 40px;
            height: 202px;
            background: linear-gradient(#ffe68d, #b0901a);
            @media screen and (max-width: 440px) {
              width: 24px;
              height: 140px;
              margin-left: 4px;
            }
          }
        }
        .g-2022 {
          margin-left: 52px;
          @media screen and (max-width: 1150px) {
            margin-left: 32px;
          }
          @media screen and (max-width: 440px) {
            margin-left: 24px;
          }
          .c-2022 {
            width: 40px;
            height: 312px;
            background: linear-gradient(#ffe68d, #b0901a);
            @media screen and (max-width: 440px) {
              width: 24px;
              height: 216px;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
}

// Quality
.quality {
  position: relative;
  height: auto;
  overflow: hidden;
  background-image: url("../img/quality-back.jpg");
  z-index: -3;
  color: $color1;
  @media screen and (max-width: 1400px) {
    background-image: url("../img/Section-7.jpg");
  }
  @include md {
    background-image: url("../img/Section-7SP.jpg");
    background-size: 120%;
    background-position: bottom 0 right 0;
  }
  @include sp {
    background-size: cover;
    background-position: bottom 0 right 20%;
  }
  h2 {
    margin: 0;
  }
  .back {
    position: absolute;
    top: 4%;
    left: 5%;
    max-width: 740px;
    height: auto;
    z-index: -2;
    @media screen and (max-width: 1400px) {
      display: none;
    }
    img {
      overflow-x: hidden;
    }
  }
  .text {
    max-width: 580px;
    margin: 0 20px 64px auto;
    @media screen and (max-width: 1400px) {
      max-width: 72%;
      margin: 0 auto;
      margin-bottom: 64px;
    }
    @include sp {
      max-width: 88%;
    }
    .title {
      padding-top: 60px;
      text-align: center;
    }
    .info {
      margin-top: 40px;
      p {
        font-weight: 400;
      }
    }
  }
}

// QR
.qr {
  img {
    max-width: 226px;
  }
  h1,
  h2,
  h4 {
    margin: 0;
  }
  .title,
  .sub-title,
  .qr-info {
    text-align: center;
  }
  .title {
    margin-top: 48px;
  }
  .sub-title {
    margin-bottom: 20px;
    @include sp {
      margin-bottom: 6px;
    }
  }
  .qr-info {
    opacity: 50%;
    margin: 0 auto;
    margin-bottom: 48px;
    @include sp {
      width: 90%;
      margin-bottom: 24px;
    }
  }
  .qrcode {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 48px;
    @include sp {
      margin-bottom: 24px;
    }
    .qrcode-1,
    .qrcode-2 {
      margin: 20px 60px;
      @include sp {
        margin: 20px 30px;
      }
    }
  }
}

// Floating
.floating {
  position: fixed;
  text-align: center;
  right: 0;
  bottom: 0;
  width: 362px;
  height: 152px;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 16px 0 0 0;
  box-shadow: 0px 0px 10px rgba(176, 144, 26, 0.26);
  z-index: 5;
  @include md {
    display: flex;
    width: 100%;
    height: 76px;
    border-radius: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  h2 {
    color: $color4;
    margin-top: 18px;
    margin-bottom: 18px;
    @include md {
      margin-top: 14px;
    }
    @include sp {
      font-size: 2rem;
    }
  }
  i {
    width: 40px;
    margin-right: 16px;
    @include sp {
      margin-right: 6px;
    }
  }
  a {
    color: $color4;
    text-decoration: none;
  }
  a:hover {
    color: $color4;
  }
  a.btn-border {
    border-radius: 6px;
    background: linear-gradient(to bottom right, #dabf61, #a18523);
    color: $color1;
  }

  a.btn-border:hover {
    color: $color1;
    background: $color4;
  }
  .btn,
  a.btn,
  button.btn {
    font-size: 2.4rem;
    padding: 0.6rem 8.8rem;
    @include md {
      padding: 0.8rem 4rem;
    }
    @include sp {
      font-size: 1.8rem;
    }
  }
  .phone {
    @include md {
      width: 40%;
      margin: auto 0;
      margin-left: 4%;
    }
    @include sp {
      width: 45%;
    }
    @media screen and (max-width: 440px) {
      width: 50%;
      margin: 0;
      margin: auto 0;
    }
  }
  .btn-contact {
    @include md {
      margin: auto 0;
      margin-right: 4%;
      width: 40%;
    }
    @media screen and (max-width: 440px) {
      width: 50%;
      margin: 0;
      margin: auto 0;
    }
  }
}

footer {
  padding-left: 48px;
  background-color: $color2;
  color: $color1;
  @include md {
    padding-bottom: 76px;
  }
  @include sp {
    padding-left: 16px;
    padding-bottom: 60px;
  }
  h3 {
    padding-top: 34px;
  }
  p {
    font-weight: 400;
    margin: 10px 0;
  }
  p:last-child {
    padding-bottom: 34px;
    margin-bottom: 0;
  }
  i {
    width: 20px;
    margin-right: 40px;
    @include lg {
      margin-right: 24px;
    }
  }
  a {
    color: $color1;
    text-decoration: none;
  }
  a:hover {
    color: $color3;
  }
  a:active {
    color: $color3;
  }
  .location {
    display: inline-block;
    @include md {
      width: 80%;
    }
    a {
      font-size: 2rem;
      @include sp {
        font-size: 1.4rem;
      }
    }
  }
  .location-p {
    display: inline-block;
    margin-top: 0;
    @media screen and (max-width: 440px) {
      vertical-align: top;
    }
  }
}
