@charset "UTF-8";
/* --------------------------------  MIX IN  -------------------------------- */
/* --------------------------------  MIX IN  -------------------------------- */
/* --------------------------------  Admin Menu  -------------------------------- */
/*メニューの背景色*/
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #ffffff;
}

/*メニューのホバーした時の背景色*/
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #ffd129;
  background: #e6e6e6;
}

/* Admin Menu: submenu */
/*メニューの第2階層の背景色*/
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #5c4800;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #5c4800;
}

/*アクティブ時の背景色*/
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #000000;
  background: #ffffff;
}

/* Admin Menu: bubble */
/*項目右の数字アイコンの色*/
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #000000;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0);
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #000000;
  border: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0);
}

/* Admin Bar */
/*管理画面のヘッダーの色*/
#wpadminbar {
  color: #fff;
  background: #765c00;
}

/* Core UI */
/*更新、公開ボタンの色*/
.wp-core-ui .button-primary {
  background: #765c00;
  border-color: #765c00;
  color: #fff;
}

.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus {
  background: #765c00;
  border-color: #765c00;
  color: #fff;
}

/* --------------------------------  Admin Menu  -------------------------------- */
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  font-size: 5.6rem;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 4.8rem;
  }
}

@media screen and (max-width: 540px) {
  h1 {
    font-size: 3.2rem;
  }
}

h2 {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  font-size: 3.6rem;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 540px) {
  h2 {
    font-size: 2.4rem;
  }
}

h3 {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 540px) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
}

@media screen and (max-width: 768px) {
  h4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 540px) {
  h4 {
    font-size: 1.8rem;
  }
}

p {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 540px) {
  p {
    font-size: 1.4rem;
  }
}

.big {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, Meiryo, sans-serif;
  font-weight: 900;
  font-size: 12rem;
}

.middle {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, Meiryo, sans-serif;
  font-weight: 900;
  font-size: 6rem;
}

.small {
  padding-left: 20px;
  margin-right: 24px;
}

.light-yellow {
  color: #ffd129;
}

.dark-yellow {
  color: #b0901a;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  font-family: "Noto Sans SC", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.6rem 8rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.horizontal-list .item {
  /* 横スクロール用 */
  display: inline-block;
}

.MV {
  width: 100%;
  overflow-x: hidden;
}

.MV .MV_back {
  position: relative;
  z-index: -2;
  left: -20%;
  right: -20%;
  top: 0;
  width: 140%;
  height: 660px;
  background-color: #000000;
  border-bottom-left-radius: 50% 16%;
  border-bottom-right-radius: 50% 16%;
}

@media screen and (max-width: 998px) {
  .MV .MV_back {
    height: 630px;
  }
}

@media screen and (max-width: 720px) {
  .MV .MV_back {
    height: 800px;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
  }
}

@media screen and (max-width: 540px) {
  .MV .MV_back {
    height: 740px;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
  }
}

@media screen and (max-width: 420px) {
  .MV .MV_back {
    height: 700px;
  }
}

@media screen and (max-width: 375px) {
  .MV .MV_back {
    height: 666px;
  }
}

.MV .MV_back .back-img {
  position: absolute;
  top: 10%;
  left: 45%;
  z-index: -1;
  width: 1400px;
  height: auto;
}

@media screen and (max-width: 1500px) {
  .MV .MV_back .back-img {
    top: 10%;
    left: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .MV .MV_back .back-img {
    top: 10%;
    left: 52%;
  }
}

@media screen and (max-width: 998px) {
  .MV .MV_back .back-img {
    top: 10%;
    left: 55%;
  }
}

@media screen and (max-width: 768px) {
  .MV .MV_back .back-img {
    left: 52%;
  }
}

@media screen and (max-width: 720px) {
  .MV .MV_back .back-img {
    width: 880px;
    top: 6%;
    left: 26%;
  }
}

@media screen and (max-width: 540px) {
  .MV .MV_back .back-img {
    width: 880px;
    top: 6%;
    left: 26%;
  }
}

@media screen and (max-width: 420px) {
  .MV .MV_back .back-img {
    top: 2%;
  }
}

.MV .MV_content {
  position: absolute;
  width: 100%;
  top: 0;
  padding-left: 7%;
}

@media screen and (max-width: 1024px) {
  .MV .MV_content {
    padding-left: 24px;
  }
}

.MV .MV_content .logo {
  width: 164px;
  height: auto;
  padding-top: 28px;
  padding-left: 18px;
}

@media screen and (max-width: 420px) {
  .MV .MV_content .logo {
    width: 120px;
    padding-left: 6px;
  }
}

.MV .MV_content .MV_text {
  color: #ffffff;
  margin-top: 18px;
}

.MV .MV_content .MV_text h1 {
  margin: 0;
  padding-left: 18px;
}

@media screen and (max-width: 585px) {
  .MV .MV_content .MV_text h1 {
    font-size: 3.2rem;
    padding-left: 10px;
  }
}

@media screen and (max-width: 540px) {
  .MV .MV_content .MV_text h1 {
    padding-left: 0;
  }
}

@media screen and (max-width: 420px) {
  .MV .MV_content .MV_text h1 {
    font-size: 2.8rem;
    padding-left: 10px;
  }
}

.MV .MV_content .MV_text h3 {
  margin: 0;
  padding-left: 18px;
}

@media screen and (max-width: 540px) {
  .MV .MV_content .MV_text h3 {
    padding-left: 0;
  }
}

.MV .MV_content .MV_text h4 {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 18px;
}

@media screen and (max-width: 540px) {
  .MV .MV_content .MV_text h4 {
    padding-left: 0;
  }
}

.MV .MV_content .MV_text span.nearby {
  padding-left: 7%;
}

@media screen and (max-width: 1024px) {
  .MV .MV_content .MV_text span.nearby {
    padding-left: 24px;
  }
}

@media screen and (max-width: 720px) {
  .MV .MV_content .MV_text {
    width: 100%;
    margin-top: 240px;
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .MV .MV_content .MV_text {
    width: 100%;
    margin-top: 240px;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .MV .MV_content .MV_text {
    margin-top: 200px;
  }
}

.goods {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  top: -30px;
}

@media screen and (max-width: 768px) {
  .goods {
    height: 440px;
  }
}

@media screen and (max-width: 540px) {
  .goods {
    top: -20px;
    height: 360px;
  }
}

.goods .goods_text {
  margin-left: 12%;
  margin-top: 60px;
}

@media screen and (max-width: 1150px) {
  .goods .goods_text {
    margin-left: 10%;
  }
}

@media screen and (max-width: 998px) {
  .goods .goods_text {
    margin-top: 60px;
    margin-left: 4%;
  }
}

@media screen and (max-width: 540px) {
  .goods .goods_text {
    margin-left: 16px;
  }
}

@media screen and (max-width: 440px) {
  .goods .goods_text {
    margin-top: 48px;
    margin-left: 6px;
  }
}

.goods .goods_text h1,
.goods .goods_text h2 {
  margin: 0;
  padding-left: 18px;
}

@media screen and (max-width: 540px) {
  .goods .goods_text h1,
  .goods .goods_text h2 {
    padding-left: 0;
  }
}

.goods .goods_text h3 {
  margin: 20px 0 0;
  padding-left: 18px;
}

@media screen and (max-width: 540px) {
  .goods .goods_text h3 {
    padding-left: 0;
    margin-top: 6px;
  }
}

.goods .goods_text h4 {
  margin: 0;
  padding-left: 18px;
}

@media screen and (max-width: 540px) {
  .goods .goods_text h4 {
    padding-left: 0;
    margin-top: 12px;
    line-height: 1.4em;
  }
}

.goods .goods_text .h-goods {
  font-size: 4.8rem;
  font-weight: 600;
}

@media screen and (max-width: 540px) {
  .goods .goods_text .h-goods {
    font-size: 3rem;
  }
}

.goods .goods_img {
  position: absolute;
  top: -24%;
  left: 58%;
  z-index: -3;
  width: 500px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .goods .goods_img {
    left: 55%;
  }
}

@media screen and (max-width: 820px) {
  .goods .goods_img {
    left: 50%;
  }
}

@media screen and (max-width: 768px) {
  .goods .goods_img {
    width: 400px;
    top: -6%;
    left: 56%;
  }
}

@media screen and (max-width: 660px) {
  .goods .goods_img {
    left: 48%;
  }
}

@media screen and (max-width: 540px) {
  .goods .goods_img {
    width: 340px;
    top: -13%;
    left: 50%;
  }
}

@media screen and (max-width: 440px) {
  .goods .goods_img {
    width: 300px;
    top: -2%;
    left: 48%;
  }
}

.goods .goods_img img {
  overflow-x: hidden;
}

.goods a.btn {
  font-size: 1.8rem;
  padding: 0.6rem 3rem;
}

.goods a.btn-border {
  border: 2px solid #b0901a;
  border-radius: 8px;
  background: #fff;
  color: #b0901a;
}

.goods a.btn-border:hover {
  color: #ffffff;
  background: #b0901a;
}

.goods .btn-goods {
  margin-left: 18px;
  margin-top: 32px;
}

@media screen and (max-width: 540px) {
  .goods .btn-goods {
    margin-top: 14px;
    margin-left: 0;
  }
}

.how {
  height: 550px;
}

@media screen and (max-width: 540px) {
  .how {
    height: auto;
    margin-bottom: 40px;
  }
}

.how .item {
  width: 900px;
  height: 500px;
}

@media screen and (max-width: 540px) {
  .how .item {
    height: auto;
  }
}

.how .item {
  position: relative;
}

.how .how009 .how009_text {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .how .how009 .how009_text {
    top: 44%;
  }
}

@media screen and (max-width: 540px) {
  .how .how009 .how009_text {
    top: 55%;
  }
}

.how .how009 .how009_text a.btn-border {
  border: 2px solid #b0901a;
  border-radius: 8px;
  background: #b0901a;
  color: #ffffff;
}

.how .how009 .how009_text a.btn-border:hover {
  color: #ffffff;
  background: #b0901a;
}

.how .how009 .how009_text .btn,
.how .how009 .how009_text a.btn,
.how .how009 .how009_text button.btn {
  font-size: 2.8rem;
  padding: 0.6rem 12rem;
}

@media screen and (max-width: 440px) {
  .how .how009 .how009_text .btn,
  .how .how009 .how009_text a.btn,
  .how .how009 .how009_text button.btn {
    font-size: 2rem;
    padding: 0.6 4rem;
  }
}

.how .how009 .how009_text a {
  color: #ffd129;
  text-decoration: none;
}

.how .how009 .how009_text a:hover {
  color: #ffd129;
}

.how .sliderArea {
  max-width: 100%;
  height: 600px;
  margin: 0 auto;
  padding: 0 25px;
  overflow-x: hidden;
}

@media screen and (max-width: 540px) {
  .how .sliderArea {
    height: auto;
    padding: 0;
  }
}

.how .sliderArea.w300 {
  max-width: 300px;
}

.how .slick-slide {
  margin: 0;
}

.how .slick-slide img {
  width: 100%;
  height: auto;
}

.how .slick-prev,
.how .slick-next {
  z-index: 1;
}

.how .slick-prev:before,
.how .slick-next:before {
  color: #000;
}

.how .slick-slide {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  opacity: 0.5;
}

.how .slick-active {
  opacity: 1;
}

.how .slick-current {
  opacity: 1;
}

.how .thumb {
  margin: 20px 0 0;
}

.how .thumb .slick-slide {
  cursor: pointer;
}

.how .thumb .slick-slide:hover {
  opacity: 0.7;
}

.how .slick-prev:before,
.how .slick-next:before {
  content: "" !important;
}

.how .full-screen .slick-list {
  overflow: visible;
}

@media screen and (max-width: 540px) {
  .how .full-screen .slick-list {
    overflow: hidden;
  }
}

.how .full-screen.slider {
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .how .full-screen.slider {
    max-width: 100%;
  }
}

.how .slick-dots {
  bottom: 20px !important;
}

@media screen and (max-width: 767px) {
  .how .slick-dots {
    display: none !important;
  }
}

.how .slick-dots li {
  margin: 0 16px !important;
}

.how .slick-dots li button:before {
  font-size: 6rem !important;
}

.how .slick-dots li.slick-active button:before {
  color: #b0901a !important;
}

.how .slick-dots li button:before {
  color: #b0901a !important;
}

.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 480px;
}

@media screen and (max-width: 1024px) {
  .example {
    height: 440px;
  }
}

@media screen and (max-width: 998px) {
  .example {
    height: auto;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.example .example_text {
  margin: auto 0;
  padding-left: 5%;
  padding-bottom: 40px;
}

.example .example_text h1 {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .example .example_text {
    padding-left: 3%;
  }
}

@media screen and (max-width: 998px) {
  .example .example_text {
    padding-bottom: 24px;
  }
}

.example .example_slick {
  margin: auto 0;
}

@media screen and (max-width: 640px) {
  .example .example_slick {
    display: none;
  }
}

.example .example_slick .sliderArea {
  max-width: 540px;
  height: auto;
  margin: 0 auto;
  padding: 0 50px;
  overflow-x: hidden;
}

@media screen and (max-width: 998px) {
  .example .example_slick .sliderArea {
    max-width: 640px;
  }
}

@media screen and (max-width: 540px) {
  .example .example_slick .sliderArea {
    width: 100%;
    padding: 0;
  }
}

.example .example_slick .sliderArea.w300 {
  max-width: 300px;
}

.example .example_slick .slick-slide {
  margin: 0;
}

.example .example_slick .slick-slide img {
  max-width: 100%;
  height: auto;
}

.example .example_slick .slick-prev,
.example .example_slick .slick-next {
  z-index: 1;
  top: 45%;
}

.example .example_slick .slick-prev:before,
.example .example_slick .slick-next:before {
  color: #000;
}

.example .example_slick .slick-slide {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  opacity: 0.5;
}

.example .example_slick .slick-active {
  opacity: 1;
}

.example .example_slick .slick-current {
  opacity: 1;
}

.example .example_slick .thumb {
  margin: 20px 0 0;
}

.example .example_slick .thumb .slick-slide {
  cursor: pointer;
}

.example .example_slick .thumb .slick-slide:hover {
  opacity: 0.7;
}

.example .example_slick .slick-prev:before {
  content: "<" !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px !important;
  color: #b0901a;
  margin-left: -40px;
}

@media screen and (max-width: 540px) {
  .example .example_slick .slick-prev:before {
    display: none;
  }
}

.example .example_slick .slick-next:before {
  content: ">" !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px !important;
  color: #b0901a;
  margin-left: 10px;
}

@media screen and (max-width: 540px) {
  .example .example_slick .slick-next:before {
    display: none;
  }
}

.example .example_slick .regular.slick-list {
  overflow: visible;
}

@media screen and (max-width: 540px) {
  .example .example_slick .regular.slick-list {
    max-width: 100%;
    padding: 0;
  }
}

.example .example_slick .regular.slider {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (max-width: 540px) {
  .example .example_slick .regular.slider {
    max-width: 100%;
  }
}

.example .example_slick .slick-dots {
  display: none !important;
}

@media screen and (max-width: 540px) {
  .example .example_slick .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}

.example-sp {
  position: relative;
  height: 550px;
}

@media screen and (min-width: 641px) {
  .example-sp {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .example-sp {
    height: auto;
  }
}

.example-sp .item {
  width: 900px;
  height: 500px;
}

@media screen and (max-width: 540px) {
  .example-sp .item {
    height: auto;
  }
}

.example-sp .item {
  position: relative;
}

.example-sp .left {
  position: absolute;
  left: 4%;
  top: 38%;
  z-index: 4;
  color: #ffffff;
  font-size: 4rem;
}

.example-sp .right {
  position: absolute;
  right: 4%;
  top: 38%;
  z-index: 4;
  color: #ffffff;
  font-size: 4rem;
}

.example-sp .sliderArea {
  max-width: 100%;
  height: 600px;
  margin: 0 auto;
  padding: 0 25px;
  overflow-x: hidden;
}

@media screen and (max-width: 540px) {
  .example-sp .sliderArea {
    height: auto;
    padding: 0;
  }
}

.example-sp .sliderArea.w300 {
  max-width: 300px;
}

.example-sp .slick-slide {
  margin: 0;
}

.example-sp .slick-slide img {
  width: 100%;
  height: auto;
}

.example-sp .slick-prev,
.example-sp .slick-next {
  z-index: 1;
}

.example-sp .slick-prev:before,
.example-sp .slick-next:before {
  color: #000;
}

.example-sp .slick-slide {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  opacity: 0.5;
}

.example-sp .slick-active {
  opacity: 1;
}

.example-sp .slick-current {
  opacity: 1;
}

.example-sp .thumb {
  margin: 20px 0 0;
}

.example-sp .thumb .slick-slide {
  cursor: pointer;
}

.example-sp .thumb .slick-slide:hover {
  opacity: 0.7;
}

.example-sp .slick-prev:before,
.example-sp .slick-next:before {
  content: "" !important;
}

.example-sp .full-screen .slick-list {
  overflow: visible;
}

.example-sp .full-screen.slider {
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .example-sp .full-screen.slider {
    max-width: 100%;
  }
}

.example-sp .slick-dots {
  bottom: 20px !important;
}

@media screen and (max-width: 640px) {
  .example-sp .slick-dots {
    display: none !important;
  }
}

.example-sp .slick-dots li {
  margin: 0 16px !important;
}

.example-sp .slick-dots li button:before {
  font-size: 12rem !important;
}

.example-sp .slick-dots li.slick-active button:before {
  color: #b0901a !important;
}

.example-sp .slick-dots li button:before {
  color: #b0901a !important;
}

.example-sp .slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.example-sp .slick-prev {
  width: 48px !important;
  height: 48px !important;
  left: 4% !important;
  z-index: 5 !important;
}

.example-sp .slick-next {
  width: 48px !important;
  height: 48px !important;
  right: 4% !important;
  z-index: 5 !important;
}

.growth {
  height: auto;
  color: #ffffff;
  background-color: #000000;
}

.growth .growth_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 262px;
  background-image: url("../img/changshu.jpg");
  background-size: cover;
  background-position: 0 28%;
}

@media screen and (max-width: 1024px) {
  .growth .growth_title {
    height: 180px;
  }
}

.growth .growth_title .h2 {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.growth .growth_detail {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.growth .growth_detail h1,
.growth .growth_detail h2,
.growth .growth_detail h4 {
  margin: 0;
  padding-left: 18px;
}

.growth .growth_detail .text {
  width: 520px;
  margin-top: 16px;
}

@media screen and (max-width: 998px) {
  .growth .growth_detail .text {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 540px) {
  .growth .growth_detail .text {
    width: 92%;
  }
}

.growth .growth_detail .text .textbox h4 {
  margin-top: 10px;
}

.growth .growth_detail .graph-area {
  margin-top: 34px;
  margin-bottom: 24px;
  padding-right: 18px;
  text-align: center;
}

@media screen and (max-width: 998px) {
  .growth .growth_detail .graph-area {
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 540px) {
  .growth .growth_detail .graph-area {
    padding-right: 0;
  }
}

.growth .growth_detail .graph-area .graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 40px;
}

.growth .growth_detail .graph-area .graph .g-2017 .c-2017 {
  width: 40px;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe68d), to(#b0901a));
  background: linear-gradient(#ffe68d, #b0901a);
}

@media screen and (max-width: 440px) {
  .growth .growth_detail .graph-area .graph .g-2017 .c-2017 {
    width: 24px;
    height: 14px;
    margin-left: 4px;
  }
}

.growth .growth_detail .graph-area .graph .g-2018 {
  margin-left: 52px;
}

@media screen and (max-width: 1150px) {
  .growth .growth_detail .graph-area .graph .g-2018 {
    margin-left: 32px;
  }
}

@media screen and (max-width: 440px) {
  .growth .growth_detail .graph-area .graph .g-2018 {
    margin-left: 24px;
  }
}

.growth .growth_detail .graph-area .graph .g-2018 .c-2018 {
  width: 40px;
  height: 58px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe68d), to(#b0901a));
  background: linear-gradient(#ffe68d, #b0901a);
}

@media screen and (max-width: 440px) {
  .growth .growth_detail .graph-area .graph .g-2018 .c-2018 {
    width: 24px;
    height: 40px;
    margin-left: 4px;
  }
}

.growth .growth_detail .graph-area .graph .g-2019 {
  margin-left: 52px;
}

@media screen and (max-width: 1150px) {
  .growth .growth_detail .graph-area .graph .g-2019 {
    margin-left: 32px;
  }
}

@media screen and (max-width: 440px) {
  .growth .growth_detail .graph-area .graph .g-2019 {
    margin-left: 24px;
  }
}

.growth .growth_detail .graph-area .graph .g-2019 .c-2019 {
  width: 40px;
  height: 92px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe68d), to(#b0901a));
  background: linear-gradient(#ffe68d, #b0901a);
}

@media screen and (max-width: 440px) {
  .growth .growth_detail .graph-area .graph .g-2019 .c-2019 {
    width: 24px;
    height: 64px;
    margin-left: 4px;
  }
}

.growth .growth_detail .graph-area .graph .g-2020 {
  margin-left: 52px;
}

@media screen and (max-width: 1150px) {
  .growth .growth_detail .graph-area .graph .g-2020 {
    margin-left: 32px;
  }
}

@media screen and (max-width: 440px) {
  .growth .growth_detail .graph-area .graph .g-2020 {
    margin-left: 24px;
  }
}

.growth .growth_detail .graph-area .graph .g-2020 .c-2020 {
  width: 40px;
  height: 112px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe68d), to(#b0901a));
  background: linear-gradient(#ffe68d, #b0901a);
}

@media screen and (max-width: 440px) {
  .growth .growth_detail .graph-area .graph .g-2020 .c-2020 {
    width: 24px;
    height: 78px;
    margin-left: 4px;
  }
}

.growth .growth_detail .graph-area .graph .g-2021 {
  margin-left: 52px;
}

@media screen and (max-width: 1150px) {
  .growth .growth_detail .graph-area .graph .g-2021 {
    margin-left: 32px;
  }
}

@media screen and (max-width: 440px) {
  .growth .growth_detail .graph-area .graph .g-2021 {
    margin-left: 24px;
  }
}

.growth .growth_detail .graph-area .graph .g-2021 .c-2021 {
  width: 40px;
  height: 202px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe68d), to(#b0901a));
  background: linear-gradient(#ffe68d, #b0901a);
}

@media screen and (max-width: 440px) {
  .growth .growth_detail .graph-area .graph .g-2021 .c-2021 {
    width: 24px;
    height: 140px;
    margin-left: 4px;
  }
}

.growth .growth_detail .graph-area .graph .g-2022 {
  margin-left: 52px;
}

@media screen and (max-width: 1150px) {
  .growth .growth_detail .graph-area .graph .g-2022 {
    margin-left: 32px;
  }
}

@media screen and (max-width: 440px) {
  .growth .growth_detail .graph-area .graph .g-2022 {
    margin-left: 24px;
  }
}

.growth .growth_detail .graph-area .graph .g-2022 .c-2022 {
  width: 40px;
  height: 312px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe68d), to(#b0901a));
  background: linear-gradient(#ffe68d, #b0901a);
}

@media screen and (max-width: 440px) {
  .growth .growth_detail .graph-area .graph .g-2022 .c-2022 {
    width: 24px;
    height: 216px;
    margin-left: 4px;
  }
}

.quality {
  position: relative;
  height: auto;
  overflow: hidden;
  background-image: url("../img/quality-back.jpg");
  z-index: -3;
  color: #ffffff;
}

@media screen and (max-width: 1400px) {
  .quality {
    background-image: url("../img/Section-7.jpg");
  }
}

@media screen and (max-width: 768px) {
  .quality {
    background-image: url("../img/Section-7SP.jpg");
    background-size: 120%;
    background-position: bottom 0 right 0;
  }
}

@media screen and (max-width: 540px) {
  .quality {
    background-size: cover;
    background-position: bottom 0 right 20%;
  }
}

.quality h2 {
  margin: 0;
}

.quality .back {
  position: absolute;
  top: 4%;
  left: 5%;
  max-width: 740px;
  height: auto;
  z-index: -2;
}

@media screen and (max-width: 1400px) {
  .quality .back {
    display: none;
  }
}

.quality .back img {
  overflow-x: hidden;
}

.quality .text {
  max-width: 580px;
  margin: 0 20px 64px auto;
}

@media screen and (max-width: 1400px) {
  .quality .text {
    max-width: 72%;
    margin: 0 auto;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 540px) {
  .quality .text {
    max-width: 88%;
  }
}

.quality .text .title {
  padding-top: 60px;
  text-align: center;
}

.quality .text .info {
  margin-top: 40px;
}

.quality .text .info p {
  font-weight: 400;
}

.qr img {
  max-width: 226px;
}

.qr h1,
.qr h2,
.qr h4 {
  margin: 0;
}

.qr .title,
.qr .sub-title,
.qr .qr-info {
  text-align: center;
}

.qr .title {
  margin-top: 48px;
}

.qr .sub-title {
  margin-bottom: 20px;
}

@media screen and (max-width: 540px) {
  .qr .sub-title {
    margin-bottom: 6px;
  }
}

.qr .qr-info {
  opacity: 50%;
  margin: 0 auto;
  margin-bottom: 48px;
}

@media screen and (max-width: 540px) {
  .qr .qr-info {
    width: 90%;
    margin-bottom: 24px;
  }
}

.qr .qrcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 48px;
}

@media screen and (max-width: 540px) {
  .qr .qrcode {
    margin-bottom: 24px;
  }
}

.qr .qrcode .qrcode-1,
.qr .qrcode .qrcode-2 {
  margin: 20px 60px;
}

@media screen and (max-width: 540px) {
  .qr .qrcode .qrcode-1,
  .qr .qrcode .qrcode-2 {
    margin: 20px 30px;
  }
}

.floating {
  position: fixed;
  text-align: center;
  right: 0;
  bottom: 0;
  width: 362px;
  height: 152px;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 16px 0 0 0;
  -webkit-box-shadow: 0px 0px 10px rgba(176, 144, 26, 0.26);
          box-shadow: 0px 0px 10px rgba(176, 144, 26, 0.26);
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .floating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 76px;
    border-radius: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.floating h2 {
  color: #b0901a;
  margin-top: 18px;
  margin-bottom: 18px;
}

@media screen and (max-width: 768px) {
  .floating h2 {
    margin-top: 14px;
  }
}

@media screen and (max-width: 540px) {
  .floating h2 {
    font-size: 2rem;
  }
}

.floating i {
  width: 40px;
  margin-right: 16px;
}

@media screen and (max-width: 540px) {
  .floating i {
    margin-right: 6px;
  }
}

.floating a {
  color: #b0901a;
  text-decoration: none;
}

.floating a:hover {
  color: #b0901a;
}

.floating a.btn-border {
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, right bottom, from(#dabf61), to(#a18523));
  background: linear-gradient(to bottom right, #dabf61, #a18523);
  color: #ffffff;
}

.floating a.btn-border:hover {
  color: #ffffff;
  background: #b0901a;
}

.floating .btn,
.floating a.btn,
.floating button.btn {
  font-size: 2.4rem;
  padding: 0.6rem 8.8rem;
}

@media screen and (max-width: 768px) {
  .floating .btn,
  .floating a.btn,
  .floating button.btn {
    padding: 0.8rem 4rem;
  }
}

@media screen and (max-width: 540px) {
  .floating .btn,
  .floating a.btn,
  .floating button.btn {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .floating .phone {
    width: 40%;
    margin: auto 0;
    margin-left: 4%;
  }
}

@media screen and (max-width: 540px) {
  .floating .phone {
    width: 45%;
  }
}

@media screen and (max-width: 440px) {
  .floating .phone {
    width: 50%;
    margin: 0;
    margin: auto 0;
  }
}

@media screen and (max-width: 768px) {
  .floating .btn-contact {
    margin: auto 0;
    margin-right: 4%;
    width: 40%;
  }
}

@media screen and (max-width: 440px) {
  .floating .btn-contact {
    width: 50%;
    margin: 0;
    margin: auto 0;
  }
}

footer {
  padding-left: 48px;
  background-color: #000000;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  footer {
    padding-bottom: 76px;
  }
}

@media screen and (max-width: 540px) {
  footer {
    padding-left: 16px;
    padding-bottom: 60px;
  }
}

footer h3 {
  padding-top: 34px;
}

footer p {
  font-weight: 400;
  margin: 10px 0;
}

footer p:last-child {
  padding-bottom: 34px;
  margin-bottom: 0;
}

footer i {
  width: 20px;
  margin-right: 40px;
}

@media screen and (max-width: 1024px) {
  footer i {
    margin-right: 24px;
  }
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #ffd129;
}

footer a:active {
  color: #ffd129;
}

footer .location {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  footer .location {
    width: 80%;
  }
}

footer .location a {
  font-size: 2rem;
}

@media screen and (max-width: 540px) {
  footer .location a {
    font-size: 1.4rem;
  }
}

footer .location-p {
  display: inline-block;
  margin-top: 0;
}

@media screen and (max-width: 440px) {
  footer .location-p {
    vertical-align: top;
  }
}
/*# sourceMappingURL=common.css.map */